<div class="container" data-ng-controller="adminAddNewCtrl as actrl" data-ng-init="actrl.getAllProfessors();">
    <div class="block-header">
            <h1 style="text-align:center">Adiçionar <small>Usuários</small></h1>


        <div class="col-sm-12"  data-ng-controller="TabsDemoCtrl">
            <div class="card" style=" width:800px; max-width:800px; margin: 0 auto" >
                <div class="card-header">
                    <h2>Formulário <small>Adicionar Usuários!</small></h2>
                </div>




                <div class="card" >
                    <div class="card-body card-padding">


                         <select id="userTypeDropdown" ng-model="key" chosen data-placeholder="Typo de Usuário" class="w-100"> 
                            <option value="Estudante">Estudante</option>
                            <option value="Professor">Professor</option>
                            <option value="Admin">Admin</option>
                            <option value="Gerente">Gerente</option>
                        </select>

                        <br>
                        <br>
                        <br>


                        <div class="form-group fg-float m-b-30">
                            <div class="fg-line">
                                <input id="userFirstName" type="text" class="form-control input-sm">
                                <label class="fg-label">Primero Nome do Usuário</label>
                            </div>
                        </div>

                        <br>

                        <div class="form-group fg-float m-b-30">
                            <div class="fg-line">
                                <input id="userLastName" type="text" class="form-control input-sm">
                                <label class="fg-label">Sobre Nome do Usuário</label>
                            </div>
                        </div>

                        <br>

                        <div class="form-group fg-float m-b-30">
                            <div class="fg-line">
                                <input id="userEmail" type="text" class="form-control input-sm">
                                <label class="fg-label">Email do Usuário</label>
                            </div>
                        </div>


                        <br>
                     
                        <!-- EMAIL SAYING A PASSWORD HAS BEEN CREATED -->

                        <button style="margin: -20px -50px; position:relative;top:50%;left:50%;" class="btn btn-info" ng-click="actrl.submitUser()">Enviar</button>
                        <br>
                        <br>
                        <button style="margin: 0px -100px; position:relative;top:50%;left:50%; " class="btn btn-link" ng-click="actrl.reload()" >Adicionar Outro Usuário</button>

                        <h5 id="addStudentResponseMessage"></h5>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


