        <div class="container" style="height:100vh !important; background: linear-gradient(to bottom,  #2196f3 50%, #ffffff 50%);"> <!-- style="background-color: #2196f3 !important;  background-color: #2196f3 !important; background-repeat: repeat-y; background-size: 50% auto;" " -->

    <div  class="login-content"  data-ng-controller="loginCtrl as lctrl" >

        <!-- <div  data-ng-init="init()"></div> -->

        <!-- Login -->
        <div class="lc-block" style="top: 21vh !important;  "  id="l-login" data-ng-class="{ 'toggled': lctrl.login === 1 }" data-ng-if="lctrl.login === 1" > 

            <p class="text-left"><h4 style="text-align: center">Facesc Login</h4></p>



            <div class="input-group m-b-20" style ="margin-left : auto !important;margin-right: auto !important;">
                <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                <div class="fg-line">
                    <input type="text" class="form-control" id= "username" placeholder="Nome de usuário">
                </div>
            </div>

            <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="zmdi zmdi-male"></i></span>
                <div class="fg-line">
                    <input type="password" id="password" class="form-control" placeholder="Senha">
                </div>
            </div>

            <div class="clearfix"></div>

            <p id="responseMessage" class="text-left"><h4 style="text-align: center"></h4></p>



            <a href="" class="btn btn-login btn-danger btn-float" ng-click="loginSubmit()"><i class="zmdi zmdi-arrow-forward"></i></a>

            <ul class="login-navigation">
                <li data-block="#l-register" class="bgm-red" data-ng-click="lctrl.login = 0; lctrl.register = 1">Registrar</li>
                <li data-block="#l-forget-password" class="bgm-orange" data-ng-click="lctrl.login = 0; lctrl.forgot = 1">Esqueceu a senha?</li>
            </ul>

            </div>
        <div>




        <!-- Register -->
        <div style=" top: 12vh !important;" class="lc-block" id="l-register" data-ng-class="{ 'toggled': lctrl.register === 1 }" data-ng-if="lctrl.register === 1">

             <p class="text-left"><h4 style="text-align: center">Registro</h4></p>


             <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
                <div class="fg-line">
                    <input type="text" id= "registerEmail" class="form-control" id= "registerEmail" placeholder="Email - exeplo: gabrielsilva@hotmail.com ">
                </div>
            </div>


             <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="zmdi zmdi-lock"></i></span>
                <div class="fg-line">
                    <input type="password" class="form-control" id= "registerPassword" placeholder="Escolhe uma senha">
                </div>
            </div>

             <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                <div class="fg-line">
                    <input type="text" class="form-control" id= "registerFirstName" placeholder="Primeiro nome">
                </div>
            </div>

             <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="zmdi zmdi-accounts"></i></span>
                <div class="fg-line">
                    <input type="text" class="form-control" id= "registerLastName" placeholder="Sobre Nome">
                </div>
            </div>

            <div class="clearfix"></div>


            <p id="responseMessageRegister" class="text-left"><h4 style="text-align: center"></h4></p>



          <a href="" ng-click="registerSubmit()" class="btn btn-login btn-danger btn-float"><i class="zmdi zmdi-arrow-forward"></i></a>

            <ul class="login-navigation">
                <li data-block="#l-login" class="bgm-green" data-ng-click="lctrl.register = 0; lctrl.login = 1">Login</li>
                <li data-block="#l-forget-password" class="bgm-orange" data-ng-click="lctrl.register = 0; lctrl.forgot = 1">Esqueçeu a senha?</li>
            </ul>
        </div>


             

        <!-- Forgot Password -->
        <div style="top: 32vh !important;" class="lc-block" id="l-forget-password" data-ng-class="{ 'toggled': lctrl.forgot === 1 }" data-ng-if="lctrl.forgot === 1">
           
            <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
                <div class="fg-line">
                    <input type="text" class="form-control" id="forgotPasswordEmail" placeholder="Email">
                </div>
            </div>

            <p id="responseMessageForgotPassword" class="text-left"><h4 style="text-align: center"></h4></p>


            <a href="" class="btn btn-login btn-danger btn-float" ng-click="forgotEmailSubmit()"><i class="zmdi zmdi-arrow-forward"></i></a>

            <ul class="login-navigation">
                <li data-block="#l-login" class="bgm-green" data-ng-click="lctrl.forgot = 0; lctrl.login = 1">Login</li>
                <li data-block="#l-register" class="bgm-red" data-ng-click="lctrl.forgot = 0; lctrl.register = 1">Registrar</li>
            </ul>
        </div>

     


        <!-- Older IE warning message -->
        <!--[if lt IE 9]>
            <div class="ie-warning">
                <h1 class="c-white">Warning!!</h1>
                <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
                <div class="iew-container">
                    <ul class="iew-download">
                        <li>
                            <a href="http://www.google.com/chrome/">
                                <img src="img/browsers/chrome.png" alt="">
                                <div>Chrome</div>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.mozilla.org/en-US/firefox/new/">
                                <img src="img/browsers/firefox.png" alt="">
                                <div>Firefox</div>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.opera.com">
                                <img src="img/browsers/opera.png" alt="">
                                <div>Opera</div>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.apple.com/safari/">
                                <img src="img/browsers/safari.png" alt="">
                                <div>Safari</div>
                            </a>
                        </li>
                        <li>
                            <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                                <img src="img/browsers/ie.png" alt="">
                                <div>IE (New)</div>
                            </a>
                        </li>
                    </ul>
                </div>
                <p>Sorry for the inconvenience!</p>
            </div>
        <![endif]-->



        
</div>

</div>


<footer id="footer" data-ng-include="'template/footer.html'"></footer>


