



<header id="header" data-current-skin={{mactrl.currentSkin}} data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
    <aside id="sidebar" data-ng-include="'template/studentSidebar.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside> <!-- template/sidebar-left.html' -->

    <aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>

    <section id="content">


        <div class="container" style="">


            <div class="card m-b-0 " id="messages-main" data-ng-controller="messageCtrl as mctrl" data-ng-init="mctrl.init()" style="overflow:hidden !important; ">  <!--  -->

                <div class="ms-menu " data-ng-class="{ 'toggled': mactrl.lvMenuStat }" style="overflow: scroll !important; ">
                    <div class="ms-block">
                        <div class="ms-user">
                            <img src="img/profile-pics/4.jpg" alt="">
                            <div>Logado como <br/> {{user.firstName}} {{user.lastName}}</div>
                        </div>


                    </div>

                    <br>


                    <div class="listview lv-user m-t-20">




                        <!-- <div class="lv-item media active">
                            <div class="lv-avatar pull-left">
                                <img src="img/profile-pics/1.jpg" alt="">
                            </div>
                            <div class="media-body">
                                <div class="lv-title">Davil Parnell</div>
                                <div class="lv-small">Fierent fastidii recteque ad pro</div>
                            </div>
                        </div> -->

                        <div class="lv-item media" ng-repeat="w in classmates" ng-click="mctrl.getMessages(w)">
                            <div class="lv-avatar bgm-cyan pull-left">{{w.firstName[0]}}</div>
                            <div class="media-body">
                                <div class="lv-title">{{w.firstName}} {{w.lastName}}</div>
                                <div class="lv-small">{{w.email}} </div>
                            </div>
                        </div>

                      
                    </div>


                </div>

                <div class="ms-body size1" id="chatbox" style=" overflow: scroll !important; " >
                    <div class="listview lv-message" >
                        <div class="lv-header-alt clearfix" style=" z-index: 1 !important; position: fixed !important;" >
                            

                            <div id="ms-menu-trigger"  data-ng-class="{ 'open': mactrl.lvMenuStat }" data-ng-click="mactrl.lvMenuStat = (mactrl.lvMenuStat===true ? false : true )">
                                <div class="line-wrap"  >
                                    <div class="line top" ></div>
                                    <div class="line center"></div>
                                    <div class="line bottom"></div>
                                </div>
                            </div>

                            

                           <ul class="lv-actions actions">
                                <li>
                                    <i>{{user2.firstName}}</i>
                                </li>
                            </ul>
                             
                        </div>
                        <br>
                        <br>
                        <br>
                        <div class="lv-body">
                            <div class="" ng-repeat="m in messages" ng-attr-class="{{user2.userID == m.userID && 'lv-item media' || 'lv-item media right' }}">
                                <div ng-attr-class="{{user2.userID == m.userID && 'lv-avatar bgm-brown pull-left' || 'lv-avatar bgm-bluegray pull-right' }}">{{m.firstName[0]}}</div>

                                <div class="media-body" >
                                    <div class="ms-item">
                                        {{m.message}}
                                    </div>
                                    <small class="ms-date"><i class="zmdi zmdi-time"></i> {{ m.date}}</small>
                                </div>
                            </div>

                        
                            
                            
                        <div class="clearfix"></div>
                        <br>
                           
                        <div class="lv-footer ms-reply" >
                           
                            <textarea id="message" ng-model="mctrl.message" placeholder="What's on your mind..." ></textarea>
                            <button ng-click="mctrl.sendMessage(mctrl.message)" ><i class="zmdi zmdi-mail-send" ></i></button>
                            <br>
                            <br>
                            <br>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </section>
</section>


