<div class="container" data-ng-controller="tableCtrl as tctrl">

    <div data-ng-init="tctrl.init(); tctrl.getCoursesOfStudent(); "></div>

    <div class="block-header" style="text-align: center">
        <h1 >Colegas e Professores</h1>
    </div>
      
    <div class="card">
        <div  class="card-header">
            
        </div>

        <br>

        <!-- eventually make this multiple course..which profs  -->
        <div class="form-group fg-float m-b-30" style="max-width: 70%; margin: 0 auto">
            <div class="fg-line">
                 <select id="studentChosenCourse" chosen data-placeholder="Escolhe o curso"  class="w-100" ng-model="h" ng-options="(h.courseID + ' -- ' + h.courseSection + ' -- ' + h.courseYear + ' -- ' + h.courseName) for h in courses"  ng-change="tctrl.getCourseUsers(h)" >
                     <option></option>
                 </select>
            </div>
        </div> 
                
        <div class="card-body">





                   
                <div class="card-body">
                    <div class="table-responsive">
                        <table ng-table="tctrl.tableSorting" class="table table-striped table-vmiddle">
                            <tr ng-repeat="w in pcourses">
                                <td data-title="'Função'"  sortable="'userID'">
                                    {{ w.userType }}
                                </td> 
                                <td data-title="'Nome'" sortable="'w.firstName'">
                                    {{ w.firstName }} {{ w.lastName }}
                                </td>
                              <!--   <td data-title="'Sobre Nome'" sortable="'lastName'">
                                    {{ w.lastName }}
                                </td> -->
                                <td data-title="'Email'" sortable="'w.courseName'">
                                    {{ w.email }}
                                </td>
                                
                            </tr>
                        </table>
                    </div>
                </div>

        </div>
    </div>   

</div>




