    <div class="container" data-ng-controller="fileUploadCtrl as fctrl">

        <div data-ng-init="fctrl.init(); fctrl.getCoursesOfStudent(); "></div>

        <div class="block-header">

        </div>

        <div class="card">
            <div class="card-header">
                <h2 >Adicionar Archivos</h2>
            </div>

            <br>
            <form>
                <div class="form-group fg-float m-b-30" style="max-width: 70%; margin: 0 auto">
                    <div class="fg-line">
                        <select chosen data-placeholder="Escolhe o curso"  class="w-100" ng-model="customer.course" ng-options="(h.courseID + ' -- ' + h.courseSection + ' -- ' + h.courseYear + ' -- ' + h.courseName) for h in courses">
                            <option></option>
                        </select>
                    </div>
                    <br>
                    <br>
                    <br>

                    <div>

                        <div class="fileinput fileinput-new" data-provides="fileinput">
                            <span class="btn btn-primary btn-file m-r-10">


                            <span class="fileinput-new">Seleciona Archivo</span>
                            <span class="fileinput-exists"></span>
                            <input type="file" id="exampleInputFile" file-model="customer.file" >

                            



                            </span>
                            <span class="fileinput-filename"></span>
                            <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
                        </div>

                        <br>
                        <br>
                        <br>


                        <div>    
                            <button style="margin: -20px -50px; position:relative;top:50%;left:50%;" class="btn btn-info" ng-click="fctrl.Submit()">Enviar</button>
                            <br>
                            <br>
                            <button style="margin: 0px -60px; position:relative;top:50%;left:50%;" class="btn btn-link" ng-click="fctrl.reload()" >Reiniciar</button>
                        </div>
                    </form>
                    <br>

                    <h5 style="margin: 0px -300px; position:relative;top:50%;left:50%;" id="responseMessage"></h5>
                    <br>


                </div>   

            </div>

            





